table.fridge.striped.width-100
  tr
    td
    td Name
    td Best before
    td Image
  each row in rows  
    tr
      td
        a.deleteButton(href='/del/#{row.name}', title="Cancella #{row.name}") x
      td= row.name
      td= reparse(row.expires)
      td
        a.imageButton(href='/img/#{row.name}', name="#{row.name}")
          img(src='/thumb/#{row.name}')
